body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg, #74ebd5, #9face6);
    min-height: 100vh;
}

.navbar {
    background-color: #1e293b;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    color: #38bdf8;
}

.container {
    width: 60%;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    color: #1e293b;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #2563eb;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #2563eb;
    color: white;
}